/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2017, 1:00:03 PM
    Author     : Tech-Prg1
*/

.pd_l{ padding-left: 10px;} .center{ text-align: center;}
.clearfix{ clear:both; line-height:0; padding:0; margin:0; }
.pd_tp30{ padding-top:30px;}